.message
  .upper-message
    .upper-message__user-name
      = message.user.name
    .upper-message__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .lower-message
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?



-# .messages
-#   .message{"data-message_id" => "7"}
-#       .message__upper-info
-#         %p.message__upper-info__talker shimashima
-#         %p.message__upper-info__date 2019/08/21(Wed) 12:20:42
-#       %p.message__text とりあえず食うべく宇部
-#     .message{"data-message_id" => "8"}
-#       .message__upper-info
-#         %p.message__upper-info__talker shimashima
-#         %p.message__upper-info__date 2019/08/21(Wed) 12:20:50
-#       %p.message__text お腹すいたっす先輩