!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    %meta{:content => "authenticity_token", :name => "csrf-param"}/
    %meta{:content => "r8XuK5L6luL750Allcvxo6hPx4t2bKtwZzLyd574n4A4GSXVRISxiwfRYpeOhxYNsS4EfJXJq4L0+TX9ER2dyw==", :name => "csrf-token"}/
    %link{"data-turbolinks-track" => "reload", :href => "/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css", :media => "all", :rel => "stylesheet"}/
    %script{"data-turbolinks-track" => "reload", :src => "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
  %body
    .flash-box
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__user-name shimashima
            %ul.side-header__box__menu
              %li.side-header__box__menu__new-group
                = link_to new-groups_path(@groups) do
                -# %a{:href => "/groups/new"} = 
                  %i.fa.fa-edit
              %li.side-header__box__menu__edit-user
                %a{:href => "/users/1571/edit"}
                  %i.fa.fa-cog
        .groups
          %a{:href => "/groups/3455/messages"}
            .group
              %p.group__group-name ご飯食べようの会
              %p.group__latest-message お腹すいたっす先輩
          %a{:href => "/groups/3443/messages"}
            .group
              %p.group__group-name ご飯食べようの会
              %p.group__latest-message はい？
          %a{:href => "/groups/3430/messages"}
      .chat-main
        .main-header
          .main-header__left-box
            %h2.main-header__left-box__current-group{"data-group_id" => "3455"}
              ご飯食べようの会
            %ul.main-header__left-box__member-list
              Member：
              %li.main-header__left-box__member-list__member shimashima
          %a{:href => "/groups/3455/edit"}
            .main-header__edit-btn Edit
        .messages
          .message{"data-message_id" => "7"}
            .message__upper-info
              %p.message__upper-info__talker shimashima
              %p.message__upper-info__date 2019/08/21(Wed) 12:20:42
            %p.message__text とりあえず食うべく宇部
          .message{"data-message_id" => "8"}
            .message__upper-info
              %p.message__upper-info__talker shimashima
              %p.message__upper-info__date 2019/08/21(Wed) 12:20:50
            %p.message__text お腹すいたっす先輩
        .form
          %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/3455/messages", :enctype => "multipart/form-data", :method => "post"}
            %input{:name => "utf8", :type => "hidden", :value => "✓"}/
            %input{:name => "authenticity_token", :type => "hidden", :value => "+vMmSPwvRhpNNCZgRF6NkwVuGJp5ixDpXu2aJOUJoME4YPlK+4GpCd04f2WYEaFBQhRC+xHFTJK1V4vTZex4cA=="}/
            .input-box
              %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
              %label.input-box__image{:for => "message_image"}
                %i.fa.fa-image
                %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
            %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
