.chat-group-user.clearfix
  %p.chat-group-user__name ${user.name}
  .user-search-add.chat-group-user__btn.chat-group-user__btn--add{"data-user-id" => "${user.name}", "data-user-name" => "${user.name}"} 追加
