.chat-side{
  width: 300px;
  color: white;
  float: left;
  a{
    text-decoration: none;
  }
  
}

.chat-side a{
  color: white;
}

.side-header{
  background-color: #253141;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  &__box{
    display: flex;
    color:#ffffff;
    justify-content: space-between;
    width: 100%;
    &__user-name{
      color:ffffff;
      font-size:16px;
      font-weight: bold;
      text-align: center;
    }
    &__menu{
      display: flex;
      color:ffffff;
      &__new-group{
        margin-left: 0.3rem;
      }
      &__edit-user{
        margin-left: 0.3rem;
      }
    }
 }
}
